<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../resources/style.css">
</head>

<body>
    <form id="formFillerInfo">
        <label>First name:</label><br>
        <input type="text" id="fname" name="fname" value=""><br>
        <label>Last name:</label><br>
        <input type="text" id="lname" value=""><br><br>
        <label>Date of birth:</label><br>
        <input type="date" id="dbirth" value=""><br><br>
        <label>Address:</label><br>
        <input type="text" id="address" value=""><br><br>
        <label>Postal code:</label><br>
        <input type="text" id="location" value=""><br><br>
        <label>City:</label><br>
        <input type="text" id="city" value=""><br><br>
        <label>Email:</label><br>
        <input type="text" id="email" value=""><br><br>
        <label>Phone number:</label><br>
        <input type="text" id="phnumber" value=""><br><br>
        <label>Education:</label><br>
        <div id="education_block_">
        </div>
        <input type="button" id="add_education" value="Add education">
        <input style="position: absolute;left: 50%;" type="button" id="remove_education" value="Remove education">

        <div id="work_experience_block_">
        </div>
        <input type="button" id="add_workplace" value="Add workplace">
        <input style="position: absolute;left: 50%;" type="button" id="remove_workplace" value="Remove workplace">
        <br><br>
    </form>
    <input type="button" id="save" value="Save answers">
    <input type="button" id="send" value="Fill the form">
    <script src="popup.js"></script>

</body>

</html>