<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../resources/style.css">
</head>

<body>
    <form id="formFillerInfo">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname" value=""><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" value=""><br><br>
        <label for="dbirth">Date of birth:</label><br>
        <input type="date" id="dbirth" value=""><br><br>
        <label for="address">Address:</label><br>
        <input type="text" id="address" value=""><br><br>
        <label for="address">Postal code:</label><br>
        <input type="text" id="location" value=""><br><br>
        <label for="address">City:</label><br>
        <input type="text" id="city" value=""><br><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email" value=""><br><br>
        <label for="phnumber">Phone number:</label><br>
        <input type="text" id="phnumber" value=""><br><br>
        <label for="education">Education:</label><br>
        <input type="text" id="education_1" value=""><br><br>
        <label>Work experience:</label><br>
        <div id="work_experience">
            <label for="work_place_1">Work place:</label><br>
            <input type="text" id="work_place_1" value=""><br><br>
            <label for="work_position_1">Position:</label><br>
            <input type="text" id="work_position_1" value=""><br><br>
            <label for="work_startdate_1">Start date:</label><br>
            <input type="date" id="work_startdate_1" value=""><br><br>
            <label for="work_enddate_1">End date:</label><br>
            <input type="date" id="work_enddate_1" value=""><br><br>
            <label for="position_description_1">Position description:</label><br>
            <input type="text" id="position_description_1" value=""><br><br>

            <label for="work_place_2">Work place:</label><br>
            <input type="text" id="work_place_2" value=""><br><br>
            <label for="work_position_2">Position:</label><br>
            <input type="text" id="work_position_2" value=""><br><br>
            <label for="work_startdate_2">Start date:</label><br>
            <input type="date" id="work_startdate_2" value=""><br><br>
            <label for="work_enddate_2">End date:</label><br>
            <input type="date" id="work_enddate_2" value=""><br><br>
            <label for="position_description_2">Position description:</label><br>
            <input type="text" id="position_description_2" value=""><br><br>
        </div>
    </form>
    <input type="button" id="save" value="Save answers">
    <input type="button" id="send" value="Fill the form">
    <script src="popup.js"></script>

</body>

</html>