<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../resources/style.css">
</head>

<body>
    <form id="formFillerInfo">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname" value=""><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname" value=""><br><br>
        <label for="dbirth">Date of birth:</label><br>
        <input type="date" id="dbirth" name="lname" value=""><br><br>
        <label for="address">Address:</label><br>
        <input type="text" id="address" name="lname" value=""><br><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="lname" value=""><br><br>
        <label for="phnumber">Phone number:</label><br>
        <input type="text" id="phnumber" name="lname" value=""><br><br>
        <label for="education">Education:</label><br>
        <input type="text" id="education_1" name="lname" value=""><br><br>
        <input type="text" id="work_exp_2" name="lname" value=""><br><br>
        <input type="text" id="work_exp_3" name="lname" value=""><br><br>
        <label>Work experience:</label><br>
        <label for="work_place_1">Work place:</label><br>
        <input type="text" id="work_place_1" name="lname" value=""><br><br>
        <label for="work_position_1">Position:</label><br>
        <input type="text" id="work_position_1" name="lname" value=""><br><br>
        <label for="work_startdate_1">Start date:</label><br>
        <input type="date" id="work_startdate_1" name="lname" value=""><br><br>
        <label for="work_enddate_1">End date:</label><br>
        <input type="date" id="work_enddate_1" name="lname" value=""><br><br>
        <label for="position_description_1">Position description:</label><br>
        <input type="text" id="position_description_1" name="lname" value=""><br><br>
    </form>
    <input type="button" id="save" value="Save answers">
    <input type="button" id="send" value="Fill the form">
    <script src="popup.js"></script>

</body>

</html>